* {
    box-sizing: border-box;
    font-size: ./R (7).jpg;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: darkblue;
    background-color: whitesmoke;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: deeppink;
    text-decoration: none;
}

a:hover {
    color: darkmagenta;
}
#text-color {
    color: tomato;
}
#text-alignement {
    text-align: right;
}
#text-width {
    width: 60px;
}
#text-em {
    width: 1.3em;
}
#text-rem {
    width: 1.5rem;
}
